body{
    background: black;
}
#container{
    width:400px;
    height:92vh;
    background-image:repeating-linear-gradient(rgba(100,200,200,0.7), rgba(240,150,240,0.9)), url(back.jpg);
    padding:10px;
    margin: auto;
    position: absolute;
    top:0;
    left:30px;
    right: 30px;
}
#result{
    width:380px;
    height:140px;
    padding:15px 0;
    border: 5px solid grey;
    border-radius: 20px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3) , 0 -5px 5px 0 rgba(0,0,0,0.3);
    margin:auto;
    background: lightGrey;
}
#font{
    margin:0px 10px;
    padding: 0;
    height:100%;
    overflow: auto;
}
#font li{
    list-style-type: none;
    display: inline;
}

#backsp, #enter, #clear, #tab{
    position: relative;
    left:2%;
    top:0;
    height: 35px;
    border: 3px solid grey;
    border-radius: 20px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3) , 0 -5px 5px 0 rgba(0,0,0,0.3);
    margin:10px auto;
    background: lightGrey;
    width: 23.4%;
}
#backsp:active, #enter:active, #clear:active, #tab:active{
    background-image: radial-gradient(rgba(80,150,80),rgba(100,200,100));
}
#backsp:focus, #enter:focus, #clear:focus, #tab:focus{
    outline: 0;
}
#keyboard{
     width:350px;
    height:320px;
    padding:15px;
    border: 5px solid grey;
    border-radius: 20px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3) , 0 -5px 5px 0 rgba(0,0,0,0.3);
    margin:auto;
    background: lightGrey;
}
#pg1{
    position: relative;
    top:0;
}
#pg2{
    position:relative;
    width: 120%;
    top:-330px;
}
#num_{
    width:85%;
    float:left;
}
#insd{
    width:85%;
    float:left;
}
#attr{
    float:right;
    width:15%;
}
button[class="number"],button[class="inside"], button[class="symbol"]{
    margin:5px;
    width:45px;
    height:45px;
    border:0;
    background: grey;
    background-image: radial-gradient(rgb(140,140,140), rgb(200,200,200));
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4);
    cursor: pointer;
}
button[class="number"]:focus,button[class="inside"]:focus, button[class="symbol"]:focus,button[class="attribute"]:focus{
    outline:0;
}
button[class="number"]:active,button[class="inside"]:active, button[class="symbol"]:active{
    background-image: radial-gradient(rgba(80,150,80),rgba(100,200,100));
}
button[class="attribute"]{
    width:50px;
    height: 31px;
    position: relative;
    margin:5px 0;
    border:0;
    background: grey;
    background-image: radial-gradient(rgb(140,140,140), rgb(200,200,200));
    border-radius: 10%;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4);
    cursor: pointer;
}
button[class="attribute"]:active{
    background-image: radial-gradient(rgba(80,150,80),rgba(100,200,100));
}
button:nth-child(28){
    width: 105px;
    height: 45px;
    margin:5px;
     border:0;
    background: grey;
    background-image: radial-gradient(rgb(140,140,140), rgb(200,200,200));
    border-radius: 10%;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4);
    cursor: pointer;
}
button:nth-child(28):active{
    background-image: radial-gradient(rgba(80,150,80),rgba(100,200,100));
}
button:nth-child(28):focus{
    outline: 0;
}
button[class="attribute"] img{
    width:16px;
}
button[class="attribute"]:nth-child(8) img{
    width: 8px;
}
#insd button:nth-child(19){
     width: 105px;
    height: 45px;
    margin:5px 120px;
     border:0;
    background: grey;
    background-image: radial-gradient(rgb(140,140,140), rgb(200,200,200));
    border-radius: 10%;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4);
    cursor: pointer;
}
#insd button:nth-child(19):active{
    background-image: radial-gradient(rgba(80,150,80),rgba(100,200,100));
}
#insd button:nth-child(19):focus{
    outline: 0;
}